@model ContosoUniversity.Models.SchoolViewModels.InstructorIndexData

@{
    ViewData["Title"] = "Instruktorzy";
}

<h2>Instruktorzy</h2>

<p>
    <a asp-action="Create">Utwórz nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nazwisko</th>
            <th>Imię</th>
            <th>Data wstąpienia</th>
            <th>Biuro</th>
            <th>Kursy</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Instructors)
    {
        string selectedRow = "";
        if(item.ID == (int?)ViewData["InstructorID"])
        {
            selectedRow = "success";
        }

        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @if(item.OfficeAssignment != null)
                {
                    @item.OfficeAssignment.Location
                }
            </td>
            <td>
                @{
                    foreach (var course in item.CourseAssignment)
                    {
                        @course.Course.CourseID @: @course.Course.Title <br />                   
                    }
                }
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.ID">Wybierz</a>
                <a asp-action="Edit" asp-route-id="@item.ID">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detale</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@if(Model.Courses != null)
{
    <h3>Kursy nauczane przez Instruktorów</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Numer</th>
            <th>Tytuł</th>
            <th>Departament</th>
        </tr>
        @foreach(var item in Model.Courses)
        {
            string selectedRow = "";
            if(item.CourseID == (int?)ViewData["CourseID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { courseID = item.CourseID})
                </td>
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
            </tr>
        }
    </table>
}

@if(Model.Enrollments != null)
{
    <h3>Studenci zapisani w wybranym kursie</h3>
    <table class="table">
        <tr>
            <th>Nazwa</th>
            <th>Ocena</th>
        </tr>
        @foreach(var item in Model.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}
